/* You can add global styles to this file, and also import other style files */
body{
	background-color: #0A0E21;
}

.titulo{
	font-family: 'Raleway', sans-serif;
	color: white;
	text-align: center;
	margin-top: 25px;
}

.row{
	margin: 20px auto 0;
	padding: 0;
}

.btn-color{
	background-color: #ff3366;
	border-color: #ff3366;
	border-radius: 25px;
	width: 100%;
}

.btn-color:hover{
	background-color: #c2254c;
	border-color: #c2254c;
}

.contenedor{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}
